## Quiz Revision

### Task 1 Username & Password Check

In [5]:
username=input('Enter Username: ')
password=input('Enter Password: ')
if username=='admin' and password=='123':
    print('Login Successful!')
else:
    print('Login Failed! Please Try Again.')
print('End Of Program')

Enter Username: 123
Enter Password: 123
Login Failed! Please Try Again.
End Of Program

## Indentation

In [9]:
name=input('Enter Name: ')
if name=='Nauman':
    print('PIAIC')
    print('Islamabad Batch 3')
    print('Bahria University')
else:
    print('Name Not Found')

Enter Name: Nauman
PIAIC
Islamabad Batch 3
Bahria University

In [14]:
name=input('Enter Name: ')
classt=input('Enter Class Timing: ')
if name=='Nauman':
    print('PIAIC Islamabad Batch 3')
    if classt=='9am':
        print('Class 1')
    elif classt=='12pm':
        print('Class 2')
    else:
        print('Class 3rd or 4th')
else:
    print('Name Not Found')

Enter Name: Nauman
Enter Class Timing: 9am
PIAIC Islamabad Batch 3
Class 1

### Task 2 Find Grade According to marks

In [19]:
marks=int(input('Enter Marks: '))
if marks>=90:
    print('Grade A')
elif marks>=80:
    print('Grade B')
elif marks>=70:
    print('Grade C')
elif marks>=60:
    print('Grade D')
else:
    print('Grade E')

Enter Marks: 95
Grade A

### Task 3

In [26]:
day=input('What is the day of Rent? ')
no_of_days=int(input('No Of Days? '))
time=input('Is time greater than 8pm?(yes/no) ')
scratced=input('Is DVD scratched(yes/no): ')
if time=='yes':
    no_of_days=no_of_days+1
else:
    no_of_days=no_of_days
if day=='sunday':
    if scratced=='yes':
        cost=(1.59*0.3*no_of_days)+2
        print('Cost = $'+ str(cost))
    else:
        cost=1.59*0.7*no_of_days
        print('Cost = $'+str(cost))
elif day=='thursday':
    cost=1.59*0.5*no_of_days
    print('Cost = $'+str(cost))
else:
    if scratced=='yes':
        cost=1.59*no_of_days+1
        print('Cost = $'+str(cost))
    else:
        cost=1.59*no_of_days
        print('Cost = $'+str(cost))

What is the day of Rent? monday
No Of Days? 2
Is time greater than 8pm?(yes/no) yes
Is DVD scratched(yes/no): no
Cost = $4.7700000000000005

## List

## Important Rules

## LeftToRight=Positive Increment

## RightToLeft=Negative Increment

In [39]:
fruits=['apple','banana','cherry','orange','kiwi','melon','mango']
fruits[1:5]
fruits[-6:-2]                    
fruits[-7:5:1]
fruits[4:-7:-1]
fruits[-3:0:-1]

['kiwi', 'orange', 'cherry', 'banana']

### Task 4

#### A list named employees contain 12 employee names,the last five been company management.You need to slice the list to display all employee excluding company management

In [48]:
employees=[1,2,3,4,5,6,7,10,11,12,13,15]
#employees[1:-5] #wrong answer
#employees[0:-5] #right answer
employees[-6::-1] #right answer

[7, 6, 5, 4, 3, 2, 1]

## For Loop

In [49]:
for i in range(1,10,2):
    print(str(i*2))

2
6
10
14
18

## Nested For Loop

In [52]:
for i in range(1,5):
    for j in range(0,3):
        print(str(i*j),end=' ')
    print('/n')

0 1 2 /n
0 2 4 /n
0 3 6 /n
0 4 8 /n

## While Loop

### Task 5

In [55]:
sach=False
counter=0
while(sach!=True):
    if counter==10:
        sach=True
        break
    counter+=1
    print('Yuiiiii')
print('Total Littar= '+str(counter))

Yuiiiii
Yuiiiii
Yuiiiii
Yuiiiii
Yuiiiii
Yuiiiii
Yuiiiii
Yuiiiii
Yuiiiii
Yuiiiii
Total Littar= 10

## Task 6

### Take a list of 10 number 0 to 9. Use while loopto find 6 number in list ,if found print index of 6 else keep finding

In [3]:
numbers=[0,2,1,4,5,3,7,6,8]
index=0
while(index<=10):
    #print(numbers[index])
    if numbers[index]==6:
        print(index)
        break
    else:
        index+=1

7

## Dictionary

In [4]:
persondata={'name':'Nauman','age':22,'job':'Developer'}
persondata

{'name': 'Nauman', 'age': 22, 'job': 'Developer'}

In [7]:
persondata['hobbies']=['Traveling','Coding']
persondata

{'name': 'Nauman',
 'age': 22,
 'job': 'Developer',
 'hobbies': ['Traveling', 'Coding']}

In [8]:
workexperience={
    'location':'Pakistan',
    'title':'Python Developer',
    'starting':'2018',
    'ending':'2019'
}
persondata['experience']=workexperience
persondata

{'name': 'Nauman',
 'age': 22,
 'job': 'Developer',
 'hobbies': ['Traveling', 'Coding'],
 'experience': {'location': 'Pakistan',
  'title': 'Python Developer',
  'starting': '2018',
  'ending': '2019'}}

In [9]:
print(persondata.get('experience'))

{'location': 'Pakistan', 'title': 'Python Developer', 'starting': '2018', 'ending': '2019'}

In [12]:
persondata['experience']['title']

'Python Developer'

In [1]:
data=[]
exit=''
while exit!='x':
    persondetail={}
    persondetail['name']=input('Enter Your Name: ')
    persondetail['marks']={input('Enter Your Subject Marks: '):input('Enter your Subject: ') for i in range(3)}
    persondetail['hobbies']=[input('Enter Your Hobby: ') for i in range(3)]
    data.append(persondetail)
    exit=input('Press x to Exit and y to continue: ')
print(data)

Enter Your Name: Nauman
Enter your Subject: Dbms
Enter Your Subject Marks: 90
Enter your Subject: C#
Enter Your Subject Marks: 90
Enter your Subject: Android
Enter Your Subject Marks: 85
Enter Your Hobby: Traveling
Enter Your Hobby: Coding
Enter Your Hobby: Book Reading
Press x to Exit: y
Enter Your Name: Arslan
Enter your Subject: CN
Enter Your Subject Marks: 80
Enter your Subject: Tpn
Enter Your Subject Marks: 90
Enter your Subject: Np
Enter Your Subject Marks: 85
Enter Your Hobby: Movies
Enter Your Hobby: Sleeping
Enter Your Hobby: Study
Press x to Exit: x
[{'name': 'Nauman', 'marks': {'90': 'C#', '85': 'Android'}, 'hobbies': ['Traveling', 'Coding', 'Book Reading']}, {'name': 'Arslan', 'marks': {'80': 'CN', '90': 'Tpn', '85': 'Np'}, 'hobbies': ['Movies', 'Sleeping', 'Study']}]